<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{.Title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  body {
    max-width: 640px;
    padding: 0;
    margin: 0 auto;
  }
</style>
<body>

<ul>
  <li><a href="/solo/all-together">All together</a></li>
  <li><a href="/solo/inline-dynamic">Inline Dynamic</a></li>
  <li><a href="/solo/iframe-dynamic">Iframe Dynamic</a></li>
  <li><a href="/solo/iframe-static">Iframe Static</a></li>
</ul>
  
</body>
</html>