<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{.Title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  body {
    max-width: 640px;
    padding: 0;
    margin: 0 auto;
  }
  .separator:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background: #000;
  }
</style>
<body>

<div>
  <h2>Load Speed Test</h2>
  <a href="https://tvpage.atlassian.net/browse/CS-3222">CS-3222</a>
  <ul>
    <li class="separator"><a href="/solo/all-together">All combinations together</a></li>
    <li><a href="/solo/inline-dynamic">Inline Dynamic on blank page</a></li>
    <li><a href="/solo/inline-static">Inline Static on blank page</a></li>
    <li><a href="/solo/iframe-dynamic">Iframe Dynamic on blank page</a></li>
    <li class="separator"><a href="/solo/inline-static">Inline Static on blank page</a></li>
    <li><a href="/solo/inline-dynamic-host">Inline Dynamic on host page</a></li>
    <li><a href="/solo/inline-static-host">Inline Static on host page</a></li>
    <li><a href="/solo/iframe-dynamic-host">Iframe Dynamic on host page</a></li>
    <li><a href="/solo/iframe-static-host">Iframe Static on host page</a></li>
  </ul>
</div>

<div>
  <h2>Robustness Test</h2>
  <a href="https://tvpage.atlassian.net/browse/CS-3223">CS-3223</a>
  <ul>
    <li><a href="http://poc-demo.netlify.com/solo/host-page">Host page under HTTP</a></li>
    <li><a href="https://poc-demo.netlify.com/solo/host-page">Host page under HTTPS</a></li>
    <li><a href="/solo/host-page-multiple">10 widgets on page</a></li>
    <li><a href="#">If host page dynamically hides & shows widget</a></li>
    <li><a href="#">If host page JavaScript has multiple DOM & window listeners</a></li>
  </ul>
</div>

<div>
  <h2>Scalability Test</h2>
  <a href="https://tvpage.atlassian.net/browse/CS-3224">CS-3224</a>
  <ul>
    <li><a href="/solo/host-page-multiple">Will runtime settings work properly if we have multiple of them in a page</a></li>
  </ul>
</div>
  
</body>
</html>