<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{.Title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <div>
    <h1>Std iframe</h1>
    <p>This one uses static data</p>
    <a class="tvp-solo"
    data-id="solo-1"
    href="//pocsite.netlify.com/tvpwidget/solo-1">
    TVPage Widget
    </a>  
  </div>

  
  <div>
    <h1>Lazy iframe</h1>
    <p>This one grabs the SKU and fetches data via AJAX</p>
    <a class="tvp-solo"
    data-id="solo-3"
    data-domain="//pocsite.netlify.com">
    TVPage Widget
    </a>
  </div>
  
  <script>
      window.__TVPage__ = window.__TVPage__ || {};
      __TVPage__.config = __TVPage__.config || {};
      __TVPage__.config['solo-3'] = {
        loginid: '1758799',
        channel: {
          id: '84956291',
          parameters: {
            referenceId: '01'
          }
        }
      };
  </script>  
  <script src="//pocsite.netlify.com/loader.js"></script>

</body>
</html>